
/*.swap_value {*/
    /*width: 340px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*text-indent: 6px;*/
    /*border: 1px solid #dce0e0;*/
    /*color: #999;*/
    /*font-size: 12px;*/
    /*text-align:center;*/
/*}*/
/*body{*/
    /*background-color:#d0e4fe;*/
/*}*/

h2{
    color:orange;
    text-align:center;
}

.search_box{
    text-align:center;
}
.cj-cx-info {
    width:100px;
    text-align:center;
}
.swap_value{
    width:200px;
    padding: 10px;
    text-align:center;
}

.cj-fight-info{
    text-align:left
}

.ul-table-header{
    font-size:20px;
    line-height: 20px;
}
