<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MonsterAndHunter</title>
    <link href="../static/css/new_fighting.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/new_game.js"></script>
</head>
<body>
    <div class = "header">
        <div class = "hunter_info">
            <div class = "name">名称：<span>五十个佳佳</span></div>
            <div class = "level">等级：<span>2</span></div>
            <div class = "exp">经验：<span>100/500</span></div>
            <div class = "hp">HP：<span>400/800</span></div>
            <div class = "atk">攻击：<span>20-50</span></div>
            <div class = "ded">防御：<span>10</span></div>
            <div class = "agile">敏捷：<span>8</span></div>
            <div class = "hid">闪避：<span>2</span></div>
        </div>
        <div class = "operation">
            <h3 class = "user_name">请输入名称</h3>
            <input type="text" id="hunterName" placeholder="必填" class="swap_value"/>
            <input type="button" value="开始战斗"  class="operation_fight_but" />
            <div><input type="button" value="查询战斗信息"  class="operation_query_but" /></div>

        </div>
        <div class = "monster_info">
            <div class = "name">名称：<span>嗜血狗头人战士</span></div>
            <div class = "grade">级别: <span>嗜血</span></div>
            <div class = "profession">职业：<span>战士</span></div>
            <div class = "hp">HP：<span>400/800</span></div>
            <div class = "atk">攻击：<span>20-50</span></div>
            <div class = "ded">防御：<span>10</span></div>
            <div class = "agile">敏捷：<span>8</span></div>
            <div class = "hid">闪避：<span>2</span></div>
        </div>

    </div>

    <div class = "footer" id = "footer_id">
        <ul class = "footer_ul" id = "footer_ul_id" >
            <!--<marquee behavior="slide" direction="up" loop="-1" scrollamount="3" height="420" onmouseover="this.stop()" onmouseout="this.start()">-->
                <!--<li class ="footer_li">遭遇敌人 , 嗜血狗头人战士</li>-->
                <!--<li class ="footer_li">【五十个佳佳】还没反应过来， 就遭到了【嗜血狗头人战士】的攻击</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
                <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
            <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
            <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
            <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
            <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
            <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
            <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->
            <!--<li class ="footer_li">【嗜血狗头人战士】冲上去咬了 【五十个佳佳】一大口士</li>-->

            <!--</marquee>-->

        </ul>
    </div>
</body>
<script>
    marquee();//初始化自动滚动
    autoGetFitghtingInfo();//初始化查询信息
</script>

</html>