<html>
<head>
    <style>
        #main{width: 300px;height: 126px;overflow: hidden;}

    </style>
</head>
<body>

<div class="scroll">
    <div id="main">
        <div id="dom1">
            <ul>
                <li>aaaaaaaaaa</li>
                <li>bbbbbbbbbb</li>
                <li>ccccccccccc</li>
                <li>ddddddddddd</li>
                <li>eeeeeeeeeee</li>
                <li>fffffffffff</li>
                <li>eeeeeeeeeee</li>
                <li>fffffffffff</li>
                <li>22222222</li>
                <li>111111</li>
                <li>33333</li>
                <li>5555555</li>
                <li>6666666</li>
                <li>77777777</li>
            </ul>
        </div>
    </div>
</div>
<script>

        var main = document.getElementById("main");
        var dom1 = document.getElementById("dom1");
        var speed = 50;    //设置速度

        // 滚动函数
        function moveTop() {
            // 当main向上滚动超出部分>=滚动节点高度时, 设置为scrollTop为0
            if (dom1.offsetHeight - main.scrollTop <= 0 ) {
                // main.scrollTop = 0;
                main.scrollTop -= dom1.offsetHeight;
            } else {
                main.scrollTop++;
            }
        }

        var myMarquee = setInterval(moveTop, speed);  //设置定时器
        // 鼠标悬停时清除定时器停止滚动，移出后继续滚动
        main.onmouseover = function() {
            clearInterval(myMarquee);
        }
        main.onmouseout = function() {
            myMarquee = setInterval(moveTop, speed);
        }

</script>
</body>
</html>